<!doctype html>
<html>
<head>
    <title>National Novel Writing Month At a Glance</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'livetiles/bootstrap.min.css' %}"/>
</head>

<body>

<section class="container">
<h1 style="font-family: Typewriter, Courier New, Courier"><a href="http://nanowrimo.org">National Novel Writing Month</a> At a Glance</h1>

<p>Select up to three Live Tile notifications you are interested in, this will link you to a page that you can then pin to your Windows Start Menu. 
The fastest way to get your profile ID or region ID, when logged into NaNoWriMo, visit the <a href="http://nanowrimo.org/wordcount_api">NaNoWriMo Word Count API</a>
and look for the <strong>bold</strong> system names.</p>

<form method="GET" action="/glance/" role="form" class="form-horizontal">
    <fieldset class="well">
        <div class="form-group">
            <label for="tile1type" class="col-md-2 control-label">Tile 1 Type</label>
            <div class="col-md-10">
                <select name="tile1type" class="form-control">
                    <option value="x">None</option>
                    <option value="p">Profile</option>
                    <option value="r">Region</option>
                    <option value="s">Site</option>
                    <option value="g">Daily Goal</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="tile1source" class="col-md-2 control-label">Tile 1 Source</label>
            <div class="col-md-10"><input name="tile1source" type="text" class="form-control col-md-9" placeholder="Profile or Region ID" /></div>
        </div>
    </fieldset>
    <fieldset class="well">
        <div class="form-group">
            <label for="tile2type" class="col-md-2 control-label">Tile 2 Type</label>
            <div class="col-md-10">
                <select name="tile2type" class="form-control">
                    <option value="x">None</option>
                    <option value="p">Profile</option>
                    <option value="r">Region</option>
                    <option value="s">Site</option>
                    <option value="g">Daily Goal</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="tile2source" class="col-md-2 control-label">Tile 2 Source</label>
            <div class="col-md-10"><input name="tile2source" type="text" class="form-control col-md-9" placeholder="Profile or Region ID" /></div>
        </div>
    </fieldset>
    <fieldset class="well">
        <div class="form-group">
            <label for="tile3type" class="col-md-2 control-label">Tile 3 Type</label>
            <div class="col-md-10">
                <select name="tile3type" class="form-control">
                    <option value="x">None</option>
                    <option value="p">Profile</option>
                    <option value="r">Region</option>
                    <option value="s">Site</option>
                    <option value="g">Daily Goal</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="tile3source" class="col-md-2 control-label">Tile 3 Source</label>
            <div class="col-md-10"><input name="tile3source" type="text" class="form-control col-md-9" placeholder="Profile or Region ID" /></div>
        </div>
    </fieldset>

    <button class="btn btn-primary" type="submit">Glance</button>
</form>
</section>

<hr />

<footer class="container">
    <p>Copyright &copy; 2013-2016 Max Battcher. Some Rights Reserved. This project is not directly affiliated with NaNoWriMo nor the Office of Letters and Light. It is a fan project with no warranty or guarantee.</p>
</footer>

</body>
</html>
